@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@theme {
	--font-libre: 'Libre Caslon Text', 'serif';
	--font-geist: 'Geist', 'sans-serif';
}

@layer components {
	.no-spinner {
		-moz-appearance: textfield;
	}

	.no-spinner::-webkit-outer-spin-button,
	.no-spinner::-webkit-inner-spin-button {
		margin: 0;
		-webkit-appearance: none;
	}
}
